openapi: 3.2.0
info:
  description: Serves the Clever Data API
  title: Data Terms API
  version: 3.1.0
servers:
- url: https://api.clever.com/v3.1
security:
- oauth: []
tags:
- name: Terms
paths:
  /terms:
    get:
      description: Returns a list of terms
      operationId: getTerms
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: starting_after
        schema:
          type: string
      - in: query
        name: ending_before
        schema:
          type: string
      - in: query
        name: count
        schema:
          type: string
          enum:
          - ''
          - 'true'
          - 'false'
          - undefined
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermsResponse'
      tags:
      - Terms
      summary: Get terms
      x-summary-source: derived
  /terms/{id}:
    get:
      description: Returns a specific term
      operationId: getTerm
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Terms
      summary: Get term
      x-summary-source: derived
  /terms/{id}/district:
    get:
      description: Returns the district for a term
      operationId: getDistrictForTerm
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Terms
      summary: Get district for term
      x-summary-source: derived
  /terms/{id}/schools:
    get:
      description: Returns the schools for a term
      operationId: getSchoolsForTerm
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: starting_after
        schema:
          type: string
      - in: query
        name: ending_before
        schema:
          type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Terms
      summary: Get schools for term
      x-summary-source: derived
  /terms/{id}/sections:
    get:
      description: Returns the sections for a term
      operationId: getSectionsForTerm
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: starting_after
        schema:
          type: string
      - in: query
        name: ending_before
        schema:
          type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Terms
      summary: Get sections for term
      x-summary-source: derived
components:
  schemas:
    Term:
      properties:
        district:
          type: string
          x-validation: true
        end_date:
          format: datetime
          type:
          - string
          - 'null'
          x-validation: true
        id:
          type: string
          x-validation: true
        name:
          type:
          - string
          - 'null'
        start_date:
          format: datetime
          type:
          - string
          - 'null'
          x-validation: true
      type: object
    Location:
      properties:
        address:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        lat:
          type:
          - string
          - 'null'
        lon:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zip:
          type:
          - string
          - 'null'
      type: object
    SectionResponse:
      properties:
        data:
          $ref: '#/components/schemas/Section'
      type: object
    Link:
      properties:
        rel:
          enum:
          - next
          - prev
          - self
          type: string
        uri:
          type: string
      type: object
    TermResponse:
      properties:
        data:
          $ref: '#/components/schemas/Term'
      type: object
    NotFound:
      properties:
        message:
          type: string
      type: object
    SchoolResponse:
      properties:
        data:
          $ref: '#/components/schemas/School'
      type: object
    Name:
      properties:
        first:
          type:
          - string
          - 'null'
        last:
          type:
          - string
          - 'null'
        middle:
          type:
          - string
          - 'null'
      type: object
    SchoolsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/SchoolResponse'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
      type: object
    School:
      properties:
        created:
          format: datetime
          type: string
          x-validation: true
        district:
          type: string
          x-validation: true
        ext:
          type: object
        high_grade:
          enum:
          - InfantToddler
          - Preschool
          - PreKindergarten
          - TransitionalKindergarten
          - Kindergarten
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
          - '10'
          - '11'
          - '12'
          - '13'
          - PostGraduate
          - Ungraded
          - Other
          - ''
          type:
          - string
          - 'null'
          x-validation: true
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        location:
          $ref: '#/components/schemas/Location'
        low_grade:
          enum:
          - InfantToddler
          - Preschool
          - PreKindergarten
          - TransitionalKindergarten
          - Kindergarten
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
          - '10'
          - '11'
          - '12'
          - '13'
          - PostGraduate
          - Ungraded
          - Other
          - ''
          type:
          - string
          - 'null'
          x-validation: true
        mdr_number:
          type:
          - string
          - 'null'
        name:
          type: string
        nces_id:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        principal:
          $ref: '#/components/schemas/Principal'
        school_number:
          type: string
        sis_id:
          type: string
        state_id:
          type:
          - string
          - 'null'
      type: object
    SectionsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/SectionResponse'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
      type: object
    District:
      properties:
        district_contact:
          $ref: '#/components/schemas/DistrictContact'
        error:
          type: string
        id:
          type: string
          x-validation: true
        last_attendance_sync:
          format: datetime
          type:
          - string
          - 'null'
          x-validation: true
        last_sync:
          format: datetime
          type:
          - string
          - 'null'
          x-validation: true
        launch_date:
          format: date
          type: string
          x-validation: true
        lms_state:
          enum:
          - initial_sync_processing
          - pending_authorization
          - matching_in_progress
          - error
          - disconnected
          - ''
          - success
          type:
          - string
          - 'null'
          x-validation: true
        lms_type:
          enum:
          - canvas
          - schoology
          - google_classroom
          - ''
          type:
          - string
          - 'null'
          x-validation: true
        login_methods:
          items:
            type: string
          type: array
          x-validation: true
        mdr_number:
          type:
          - string
          - 'null'
        name:
          type: string
        nces_id:
          type:
          - string
          - 'null'
        pause_end:
          format: datetime
          type:
          - string
          - 'null'
          x-validation: true
        pause_start:
          format: datetime
          type:
          - string
          - 'null'
          x-validation: true
        portal_url:
          type: string
        sis_type:
          type: string
          x-validation: true
        state:
          enum:
          - running
          - pending
          - error
          - paused
          - ''
          - success
          type:
          - string
          - 'null'
          x-validation: true
      type: object
    DistrictContact:
      properties:
        district:
          type: string
          x-validation: true
        email:
          type:
          - string
          - 'null'
        id:
          type: string
          x-validation: true
        name:
          $ref: '#/components/schemas/Name'
        title:
          type: string
          x-validation: true
      type: object
    Principal:
      properties:
        email:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
      type: object
    DistrictResponse:
      properties:
        data:
          $ref: '#/components/schemas/District'
      type: object
    TermsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/TermResponse'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
      type: object
    Section:
      properties:
        course:
          type:
          - string
          - 'null'
          x-validation: true
        created:
          format: datetime
          type: string
          x-validation: true
        district:
          type: string
          x-validation: true
        ext:
          type: object
        grade:
          enum:
          - InfantToddler
          - Preschool
          - PreKindergarten
          - TransitionalKindergarten
          - Kindergarten
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
          - '10'
          - '11'
          - '12'
          - '13'
          - PostGraduate
          - Ungraded
          - Other
          - ''
          type:
          - string
          - 'null'
          x-validation: true
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        lms_status:
          $ref: '#/components/schemas/LmsStatus'
        name:
          type: string
        period:
          type:
          - string
          - 'null'
        school:
          type: string
          x-validation: true
        section_number:
          type:
          - string
          - 'null'
        sis_id:
          type: string
        students:
          items:
            type: string
          type: array
          x-validation: true
        subject:
          enum:
          - english/language arts
          - math
          - science
          - social studies
          - language
          - homeroom/advisory
          - interventions/online learning
          - technology and engineering
          - PE and health
          - arts and music
          - other
          - ''
          type:
          - string
          - 'null'
          x-validation: true
        teacher:
          type:
          - string
          - 'null'
          x-validation: true
        teachers:
          items:
            type: string
          type: array
          x-validation: true
        term_id:
          type:
          - string
          - 'null'
          x-validation: true
      type: object
    LmsStatus:
      properties:
        synced_in_lms:
          type: boolean
      type: object
  responses:
    NotFound:
      description: Entity Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFound'
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://clever.com/oauth/authorize
          tokenUrl: https://clever.com/oauth/tokens
          scopes: {}
x-samples-languages:
- curl
- node
- ruby
- python
- php
- java
- go
