openapi: 3.2.0
info:
  description: The Clever LMS Connect API
  title: LMS Connect Assignments API
  version: 3.1.0
servers:
- url: https://api.clever.com/v3.1
security:
- oauth: []
tags:
- name: Assignments
paths:
  /sections/{section_id}/assignments:
    post:
      description: Creates a new assignment in the specified section
      operationId: createAssignmentForSection
      parameters:
      - in: path
        name: section_id
        required: true
        schema:
          type: string
          format: mongo-id
      requestBody:
        $ref: '#/components/requestBodies/AssignmentRequest'
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
      - Assignments
      summary: Create assignment for section
      x-summary-source: derived
  /sections/{section_id}/assignments/{assignment_id}:
    delete:
      description: Deletes an existing assignment in the specified section
      operationId: deleteAssignmentForSection
      parameters:
      - in: path
        name: section_id
        required: true
        schema:
          type: string
          format: mongo-id
      - in: path
        name: assignment_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK Response
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Assignments
      summary: Delete assignment for section
      x-summary-source: derived
    get:
      description: Returns a specific assignment for a section
      operationId: getAssignmentForSection
      parameters:
      - in: path
        name: section_id
        required: true
        schema:
          type: string
          format: mongo-id
      - in: path
        name: assignment_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Assignments
      summary: Get assignment for section
      x-summary-source: derived
    patch:
      description: Updates an existing assignment in the specified section
      operationId: updateAssignmentForSection
      parameters:
      - in: path
        name: section_id
        required: true
        schema:
          type: string
          format: mongo-id
      - in: path
        name: assignment_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/AssignmentRequest'
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      tags:
      - Assignments
      summary: Update assignment for section
      x-summary-source: derived
  /sections/{section_id}/assignments/{assignment_id}/submissions:
    get:
      description: Returns the submissions for an assignment.
      operationId: getSubmissionsForAssignment
      parameters:
      - in: path
        name: section_id
        required: true
        schema:
          type: string
          format: mongo-id
      - in: path
        name: assignment_id
        required: true
        schema:
          type: string
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Assignments
      summary: Get submissions for assignment
      x-summary-source: derived
components:
  schemas:
    AssignmentResponse:
      properties:
        data:
          $ref: '#/components/schemas/Assignment'
      type: object
    AssigneeMode:
      enum:
      - all
      - individuals
      type: string
    AttachmentRequest:
      properties:
        description:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        type:
          enum:
          - file
          type: string
        url:
          type:
          - string
          - 'null'
      type: object
    InternalError:
      properties:
        message:
          type: string
      type: object
    GradingType:
      enum:
      - points
      - percent
      - pass_fail
      - letter_grade
      type: string
    NotFound:
      properties:
        message:
          type: string
      type: object
    BadRequest:
      properties:
        message:
          type: string
      type: object
    GradingScale:
      properties:
        entries:
          items:
            $ref: '#/components/schemas/GradingScaleEntry'
          type:
          - array
          - 'null'
        name:
          type: string
      type: object
    Attachment:
      properties:
        description:
          type:
          - string
          - 'null'
        file_external_id:
          type:
          - string
          - 'null'
        size:
          format: float
          type: number
          x-omitempty: true
        thumbnail_url:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        type:
          type: string
        url:
          type:
          - string
          - 'null'
      type: object
    SubmissionsLink:
      properties:
        rel:
          enum:
          - next
          type: string
        uri:
          type: string
      type: object
    Unauthorized:
      properties:
        message:
          type: string
      type: object
    SubmissionState:
      enum:
      - created
      - submitted
      - returned
      - reclaimed
      type: string
    AssignmentRequest:
      properties:
        assignee_ids:
          items:
            type: string
          type: array
          x-omitempty: true
        assignee_mode:
          $ref: '#/components/schemas/AssigneeMode'
        attachments:
          items:
            $ref: '#/components/schemas/AttachmentRequest'
          type: array
          x-omitempty: true
        description:
          type:
          - string
          - 'null'
        description_plaintext:
          type:
          - string
          - 'null'
        display_date:
          format: datetime
          type:
          - string
          - 'null'
        due_date:
          format: datetime
          type:
          - string
          - 'null'
        end_date:
          format: datetime
          type:
          - string
          - 'null'
        grading_type:
          $ref: '#/components/schemas/GradingType'
        max_attempts:
          type: integer
          x-omitempty: true
        points_possible:
          format: float
          type:
          - number
          - 'null'
        start_date:
          format: datetime
          type:
          - string
          - 'null'
        submission_types:
          items:
            $ref: '#/components/schemas/SubmissionType'
          type: array
          x-omitempty: true
        term_id:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
      type: object
    SubmissionFlag:
      enum:
      - excused
      - late
      - missing
      type: string
    SubmissionType:
      enum:
      - link
      - file
      - text
      - discussion
      type: string
    SubmissionsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Submission'
          type: array
        links:
          items:
            $ref: '#/components/schemas/SubmissionsLink'
          type: array
          x-omitempty: true
      type: object
    AssignmentState:
      enum:
      - draft
      - scheduled
      - open
      - locked
      type: string
    GradingScaleEntry:
      properties:
        name:
          type: string
        value:
          type: string
      type: object
    Submission:
      properties:
        assignment_id:
          type: string
        attachments:
          items:
            $ref: '#/components/schemas/Attachment'
          type: array
          x-omitempty: true
        created:
          format: datetime
          type:
          - string
          - 'null'
        extra_attempts:
          type: integer
          x-omitempty: true
        flags:
          items:
            $ref: '#/components/schemas/SubmissionFlag'
          type: array
          x-omitempty: true
        grade:
          type:
          - string
          - 'null'
        grade_comment:
          type:
          - string
          - 'null'
        grade_points:
          format: float
          type: number
          x-omitempty: true
        grader_id:
          type:
          - string
          - 'null'
        id:
          description: 'Deprecated. The Clever unique identifier of the submission. Will always be empty if the

            upstream LMS provider is Google Classroom; it is currently still present for Canvas and

            Schoology LMSs but will be removed in the near future.

            '
          type: string
        last_modified:
          format: datetime
          type:
          - string
          - 'null'
        override_due_date:
          format: datetime
          type:
          - string
          - 'null'
        state:
          $ref: '#/components/schemas/SubmissionState'
        user_id:
          type: string
      type: object
    Assignment:
      properties:
        assignee_ids:
          items:
            type: string
          type: array
          x-omitempty: true
        assignee_mode:
          $ref: '#/components/schemas/AssigneeMode'
        attachments:
          items:
            $ref: '#/components/schemas/Attachment'
          type: array
          x-omitempty: true
        category_id:
          type:
          - string
          - 'null'
        created:
          format: datetime
          type:
          - string
          - 'null'
        description:
          type: string
        description_plaintext:
          type:
          - string
          - 'null'
        display_date:
          format: datetime
          type:
          - string
          - 'null'
        due_date:
          format: datetime
          type:
          - string
          - 'null'
        end_date:
          format: datetime
          type:
          - string
          - 'null'
        grading_scale:
          items:
            $ref: '#/components/schemas/GradingScale'
          type: array
          x-omitempty: true
        grading_type:
          $ref: '#/components/schemas/GradingType'
        id:
          type: string
        last_modified:
          format: datetime
          type:
          - string
          - 'null'
        max_attempts:
          type: integer
          x-omitempty: true
        points_possible:
          format: float
          type:
          - number
          - 'null'
        start_date:
          format: datetime
          type:
          - string
          - 'null'
        state:
          $ref: '#/components/schemas/AssignmentState'
        submission_types:
          items:
            $ref: '#/components/schemas/SubmissionType'
          type: array
          x-omitempty: true
        term_id:
          type:
          - string
          - 'null'
        title:
          type: string
      type: object
  requestBodies:
    AssignmentRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AssignmentRequest'
      required: true
  responses:
    InternalError:
      description: Internal Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalError'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequest'
    Unauthorized:
      description: Not authorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Unauthorized'
    NotFound:
      description: Entity Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFound'
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://clever.com/oauth/authorize
          tokenUrl: https://clever.com/oauth/tokens
          scopes: {}
x-samples-languages:
- curl
- node
- ruby
- python
- php
- java
- go
