openapi: 3.0.0
info:
  description: Serves the Clever Data API
  title: Data Assignments Events API
  version: 3.1.0
servers:
- url: https://api.clever.com/v3.1
security:
- oauth: []
tags:
- name: Events
paths:
  /events:
    get:
      description: Returns a list of events
      operationId: getEvents
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: starting_after
        schema:
          type: string
      - in: query
        name: ending_before
        schema:
          type: string
      - in: query
        name: school
        schema:
          type: string
      - in: query
        name: record_type
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Events
  /events/{id}:
    get:
      description: Returns the specific event
      operationId: getEvent
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Events
components:
  schemas:
    Event:
      discriminator:
        propertyName: type
      properties:
        created:
          format: datetime
          type: string
          x-validation: true
        id:
          type: string
          x-validation: true
        type:
          type: string
          x-validation: true
      required:
      - type
      type: object
    EventResponse:
      properties:
        data:
          $ref: '#/components/schemas/Event'
      type: object
    NotFound:
      properties:
        message:
          type: string
      type: object
    Link:
      properties:
        rel:
          enum:
          - next
          - prev
          - self
          type: string
        uri:
          type: string
      type: object
    EventsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/EventResponse'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
      type: object
  responses:
    NotFound:
      description: Entity Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFound'
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://clever.com/oauth/authorize
          tokenUrl: https://clever.com/oauth/tokens
          scopes: {}
x-samples-languages:
- curl
- node
- ruby
- python
- php
- java
- go
